@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex;
	gap: 4px;

	.negative {
		color: var(--c-status-negative);
	}

	.redOrange {
		color: var(--c-accent-red-orange);
	}

	.positive {
		color: var(--c-status-positive);
	}
}
