@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex;
	position: relative;
	color: var(--c-label-normal);
	border: 1px solid var(--c-line-normal-normal);

	&:disabled {
		color: var(--c-label-disable);
	}

	&.medium {
		@include m.fontBody2Normal("normal");
		gap: 5px;
		padding: 9px 20px;
		border-radius: 8px;
	}

	&.small {
		@include m.fontLabel2("medium");
		gap: 4px;
		padding: 7px 14px;
		border-radius: 6px;
	}

	&.fill {
		width: 100%;
	}
}
