@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.fontLabel1Normal("medium");
	width: 100%;
	padding: 12px 0;
	color: var(--c-label-normal);
	text-align: start;
	border-top: 1px solid var(--c-line-normal-normal);

	&:last-of-type {
		border-bottom: 1px solid var(--c-line-normal-normal);
	}
}
