@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex;
	flex: 1;
	width: 100%;
	background-color: var(--c-background-normal-normal);
	border: 1px solid var(--c-line-normal-normal);
	border-radius: 4px;

	.emptyIcon path {
		stroke: var(--c-primary-normal);
		stroke-width: 2px;
	}
}
