@font-face {
	font-family: PretendardJP;
	font-weight: 900;
	src:
		local("PretendardJP Black"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Black.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Black.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 800;
	src:
		local("PretendardJP ExtraBold"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Black.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-ExtraBold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 700;
	src:
		local("PretendardJP Bold"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Bold.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Bold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 600;
	src:
		local("PretendardJP SemiBold"),
		url("../assets/fonts/PretendardJP/woff2//PretendardJP-SemiBold.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-SemiBold.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 500;
	src:
		local("PretendardJP Medium"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Medium.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Medium.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 400;
	src:
		local("PretendardJP Regular"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Regular.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 300;
	src:
		local("PretendardJP Light"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Light.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Light.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 200;
	src:
		local("PretendardJP ExtraLight"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-ExtraLight.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-ExtraLight.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: PretendardJP;
	font-weight: 100;
	src:
		local("PretendardJP Thin"),
		url("../assets/fonts/PretendardJP/woff2/PretendardJP-Thin.woff2") format("woff2"),
		url("../assets/fonts/PretendardJP/woff/PretendardJP-Thin.woff") format("woff");
	font-display: swap;
}
