@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex(flex-start, flex-start, column);
	gap: 10px;
	width: 100%;
	padding: 12px;
	background-color: var(--c-background-normal-normal);
	border: 1px solid var(--c-line-normal-normal);
	border-radius: 4px;

	> ul {
		width: 100%;
	}
}
