@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex(flex-start, flex-start, column);
	flex: 1;
	gap: 12px;
	width: 100%;
	padding: 20px;

	@include m.mobileOnly {
		padding: 0;
	}

	.title {
		@include m.fontHeadline1("bold");
		color: var(--c-label-normal);
	}
}
