@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex(flex-start);
	width: 100%;
	border-bottom: 1px solid var(--c-line-solid-normal);

	@include m.mobileOnly {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.tab {
		@include m.fontLabel1Normal("regular");
		position: relative;
		padding: 12px;
		color: var(--c-label-neutral);
		word-break: keep-all;
		border-radius: 4px;

		@include m.mobileOnly {
			@include m.fontCaption1("regular");
			text-align: center;
		}

		&::after {
			@include m.absolute(auto auto -2px 50%);
			width: 80%;
			height: 3px;
			content: "";
			background-color: transparent;
			border-radius: 100px;
			transform: translateX(-50%);
		}

		&:hover {
			&::after {
				background-color: var(--c-label-disable);
			}
		}

		&.active {
			@include m.fontLabel1Normal("bold");

			&::after {
				background-color: var(--c-primary-normal);
			}

			@include m.mobileOnly {
				@include m.fontCaption1("bold");
			}
		}
	}
}
