@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.empty {
	flex: 1;
	width: 100%;

	.friendIcon {
		path {
			stroke: var(--c-primary-normal);
			stroke-width: 2px;
		}
	}

	.cta {
		@include m.flex;
		gap: 8px;

		.plus {
			path {
				stroke: var(--c-static-white);
			}
		}
	}
}
