@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex;
	background-color: var(--c-background-normal-alternative);

	.registerForm {
		@include m.flex(flex-start, center, column);
		gap: 40px;
		width: c.$S_AUTH_FORM_WIDTH;
		padding: 40px 100px;
		background-color: var(--c-background-normal-normal);
		box-shadow: var(--c-shadow-heavy);

		.title {
			@include m.fontTitle2("bold");
			color: var(--c-label-normal);
		}

		.form {
			@include m.flex(flex-start, center, column);
			gap: 12px;
			width: 100%;

			.input {
				width: 100%;
			}

			.userTypeCheckerWrapper {
				width: 100%;

				.legend {
					@include m.fontLabel1Normal("medium");
					margin-bottom: 8px;
					color: var(--c-label-normal);

					&::after {
						margin-left: 4px;
						content: "*";
					}
				}
			}

			.registerButton {
				margin-top: 40px;
			}
		}
	}
}
