@use "src/styles/constants" as c;
@use "src/styles/mixins" as m;

.wrapper {
	@include m.flex;
	background-color: var(--c-background-normal-alternative);

	.main {
		@include m.flex(flex-start, center, column);
		gap: 12px;
		width: c.$S_AUTH_FORM_WIDTH;
		padding: 48px 100px;
		margin: auto;
		background-color: var(--c-background-normal-normal);
		box-shadow: var(--c-shadow-heavy);

		@include m.mobileOnly {
			width: 100%;
			padding: 24px;
			background-color: var(--c-background-normal-alternative);
			box-shadow: none;
		}

		.check {
			width: 200px;
			height: 200px;
			object-fit: contain;
		}

		.title {
			@include m.fontTitle2("bold");
			color: var(--c-label-normal);
		}

		.description {
			@include m.fontLabel1Normal("medium");
			color: var(--c-interaction-inactive);
			text-align: center;
			white-space: pre-wrap;
		}

		.loginButton {
			width: 100%;
			margin-top: 40px;
		}
	}
}
